-----BEGIN CERTIFICATE-----
MIIBUjCB+qADAgECAgkA0gEn99gM6iUwCgYIKoZIzj0EAwIwFzEVMBMGA1UEAxMM
ZXN0RXhhbXBsZUNBMB4XDTE3MDkwNzIzMDQ0N1oXDTE4MDkwNzIzMDQ0N1owFzEV
MBMGA1UEAxMMZXN0RXhhbXBsZUNBMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAE
OWGwoBy8eTW2q2VxnQR4uQjOfA9MuTOYaVQNKrgEsklk2OJiIjyM0PYISbIo2smA
TXMX5wevtVeAIgkPHMvxYqMvMC0wDAYDVR0TBAUwAwEB/zAdBgNVHQ4EFgQUbCnT
3z47/+b89hBnoxTgvk9QQWIwCgYIKoZIzj0EAwIDRwAwRAIgSalkQuWD2bPjJgEA
nu1x7UnTM5E7V51eRMs4TbuW2MoCIE4MUHvqTSpBfp3v5uwzM3LU7p4bpNsZ7ffn
s1l1QboH
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIBVDCB/KADAgECAgkAqHSHjvl7gxYwCgYIKoZIzj0EAwIwGDEWMBQGA1UEAxMN
ZXN0RVhURVJOQUxDQTAeFw0xNzA5MDcyMzA0NDdaFw0xODA5MDcyMzA0NDdaMBgx
FjAUBgNVBAMTDWVzdEVYVEVSTkFMQ0EwWTATBgcqhkjOPQIBBggqhkjOPQMBBwNC
AASYND8ClYywSu3Z371++bjKbaGRs+JeHmhYgAVQQ46YvzKnrawfMJh0Fx1AIFii
Gl5o52ebdv+Qca9KPMdzQ7CHoy8wLTAMBgNVHRMEBTADAQH/MB0GA1UdDgQWBBRZ
GpVV27ZY1Z+Zo8veNP1WLpTn0zAKBggqhkjOPQQDAgNHADBEAiAe/nB2ni/zqJz3
rN2cpii5f2rK0n6utHOPdPrrJo1yxAIgHcx8Zrcg+wdt9sllmZ4jFvg9OEBk6Wr0
T9z2gAZfwEM=
-----END CERTIFICATE-----

