---

addr: :443
certfile: /etc/est/est.crt
keyfile: /etc/est/est.key
trustcafile: /etc/est/trustca.crt
default_days: 1
bootstrap_user: fsl-admin
bootstrap_pass: d4ac83761b1fb088d80de8c8b4c726a7

rootca:
  certfile: /etc/est/ca/RootCA.crt
  keyfile: /etc/est/ca/RootCA.key

ocsp_server:
  - https://int.b-est.edgescale.org/.well-known/ocsp

