-----BEGIN CERTIFICATE-----
MIIDMjCCAhqgAwIBAgIBAjANBgkqhkiG9w0BAQsFADAnMSUwIwYDVQQDDBxOWFAg
RWRnZXNjYWxlIENBIC0gQm9vdHN0cmFwMB4XDTE3MTIxNTEzMzkyM1oXDTI3MTIx
MzEzMzkyM1owHjEcMBoGA1UEAwwTRWRnZXNjYWxlIEJvb3RzdHJhcDCCASIwDQYJ
KoZIhvcNAQEBBQADggEPADCCAQoCggEBAMF+MDVhfv/3K5ePyN2J9W1ylMtL3Xr0
7CubGmKyc4gpahhvb8HGqrpPB7WLNb2nkzjXLDTSBT3VFCR2OaGxiT8+/JB9u5Ta
9a1DUAvT8+mW5jBQWU6tDlgrRJR+y3efc0AoUHaC6vKsCVBKtlBHqdkuKieJRfWd
Ukj23NH/LD32VMrvyvXajzfpyUgKyOH96noTM0e5NGsKok//FZP535AIlxJE88xc
CWpWfvP63As50QWmDWXuacn1IoMU68poKjsUBfaUNbVTNoVHJ65fKfMoVsfTLK/2
Pj6Es9YaJ/YO3L2hiR1J/S76RbCMyB0rUZuyNUjCUNa/rOKQGaqKcOECAwEAAaNy
MHAwCQYDVR0TBAIwADALBgNVHQ8EBAMCBeAwIgYDVR0RBBswGYIXaW50LmItZXN0
LmVkZ2VzY2FsZS5vcmcwMgYDVR0fBCswKTAnoCWgI4YhaHR0cDovL2NlcnQuZGVn
ZXNjYWxlLm9yZy9jcmwucGVtMA0GCSqGSIb3DQEBCwUAA4IBAQCMr0OqR9rClpOu
bFFkyA9S1hLd8WX568/GU8oQYjOvBGV/y7e6EWye+i+KiYLKf4UI+NLc0OmyEVmQ
CBsOE3F8NwrFbzUpl88cFgzy8bwX4uwUXHUSi/CQDI9vmt7DQjvMX6gXMOhqc6qP
djxstoXgYisRoXC6ozsRCF8AQ5t5XVSkY81uR3GKhkV7Zl2TlG7CT3Nj7qyFw4z6
ViDhX1BeKx24AjlUgvHm30KEKhxd9KvViADZ6vHgX39Se9pZEOTqjZJ7u6B6lzNu
RYMRRREn9GYBBCm+w1H3+NDupsN+XpEajb4hHwj0IfpAbbrXMUK1y2Dc7UvsvyKJ
92hDJGke
-----END CERTIFICATE-----

