-----BEGIN CERTIFICATE-----
MIIDKDCCAhCgAwIBAgIBBzANBgkqhkiG9w0BAQsFADAbMRkwFwYDVQQDDBBOWFAg
RWRnZVNjYWxlIENBMB4XDTE3MTIwNzA5NTcwOFoXDTI3MTIwNTA5NTcwOFowGzEZ
MBcGA1UEAwwQTlhQIEVkZ2VTY2FsZSBDQTCCASIwDQYJKoZIhvcNAQEBBQADggEP
ADCCAQoCggEBAKPzhGJX2KmJYTgnj+8GD8J4fp3MbsdJ4xCUQZ/TiHhgwny+z8Xz
kJtO36ar9/9pGvIPPywvT/tyrVHfiS5ElqbBnPmm6hbbD644gOUejH7QWWxnRWim
st9ZbX96Eei3x2cuOMNY0rAfkgyE6tjdBuL6Pha781M5CmBH1VvU9yhi9Uv1PLpx
nE8aUUrRIHI3XG4KOMxO2rnV53diMzB9Foc0cA+iAuZcWGPnWd7SRWvCctMFzHzg
UfRB6MIxtg6DBxKQixVeiftZWACZakSHMlsf9HgAXqnqiTL4xsH5HZjYSDjy+FMx
SPuKHPNYAuJfq3j2IVE5PN5+iugSd1QkpJcCAwEAAaN3MHUwCQYDVR0TBAIwADAL
BgNVHQ8EBAMCBeAwIgYDVR0RBBswGYIXaW50LmUtZXN0LmVkZ2VzY2FsZS5vcmcw
NwYDVR0fBDAwLjAsoCqgKIYmaHR0cDovL2ludC5lLWVzdC5lZGdlc2NhbGUub3Jn
L2NybC5wZW0wDQYJKoZIhvcNAQELBQADggEBAIhU4E9ziJbLz5QwLdHp3/15A/l8
9gFLOEdt8/xxdrsM1G5jigTQGt9qvAHi5Koro86C6XRK0nvnmc8RWTYl1BKM67Hd
a5Wedv3JKbyz88oCgKruj/1GydxQRLzLAnucAn9rxnJOHXXOqGLRFTtTFJvi5xGx
iqj4HkvlbO2RUIaggXpzS2nvI/PPaNDYcttJ8cLeUsexzWXsnmRslyoYlzUUqRBZ
j5wmaNdigznLGHy0RuXjaKizYgz4Xdb9Fe+NHJSlDOKTO+J3/2jQl3zxN/BpvZFc
jMtJZ3JoD5F8/uv0g4mLrsOPnbqFbF/F0jVkYK5alR0NUWt+mETO6NPUcRQ=
-----END CERTIFICATE-----

