-----BEGIN CERTIFICATE-----
MIIDCTCCAfGgAwIBAgIJALPMA30cAFhtMA0GCSqGSIb3DQEBCwUAMBsxGTAXBgNV
BAMMEE5YUCBFZGdlU2NhbGUgQ0EwHhcNMTcxMjA3MDkwNjEwWhcNMjcxMjA1MDkw
NjEwWjAbMRkwFwYDVQQDDBBOWFAgRWRnZVNjYWxlIENBMIIBIjANBgkqhkiG9w0B
AQEFAAOCAQ8AMIIBCgKCAQEAxdf81Q3TWcPMuAZ6RrYk8vUDcPlyxRv31mxQCroL
+BJXsjXYdbie3kQuLdFEm36bKmwQOA/qoYwH+avo78aoi6bAfEtzTpO0o5ckilNk
Wan1C1uIsV0TKy7GHC/Bai4Pf/AHzPMT03IA1gvVNPXNoXzZ6d8RZ09WjDMnQyg6
C7Oz/gU2XiX+jVKWiCPmdzB6StudPfWvEFCIFZLBMiL8uFMir895a/z/IvrbwQfY
yuln/Ek6vMdxdDSXwJPSfytbeXovBicqnCmNQx+8rkXfOMm3gGTSMlsxUsEgNHHj
Kv2bbaOw2gBoPNm16B1SjsHCCPSgxBmzNU9/Ni+PHZqfGQIDAQABo1AwTjAdBgNV
HQ4EFgQUhmpRfF+byrdKOea6YkXcLFLjzcswHwYDVR0jBBgwFoAUhmpRfF+byrdK
Oea6YkXcLFLjzcswDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAQEAHWIn
+9nOLXYeW9lEmHkNkAatPlidz4/lhaFc2zhM1AYp8UZVxe2bOOgIAJMrBnpgp2NG
7wJUBfN2ZasLFkqv+u2iFwj8ulbe0QIdduDfQAbBurxakArMeNnQA15M3wtaU3Z9
RXk/wQPPd73yAYWbYvcfCAl+bLGKXdRm5F1Tbv/Brq1VbHuCNGG2POo7+rK5i4QY
y+57QrSeMHNiJ1O2ZQarrBl4ic+2FbuYEsC0UJAupIZPb6+XhmvLeb/RBhX9pr5E
AspHXGj6WL0VWjokq/Qr0EMP9PKJ9ylOfmISLC1Bs4QcYk6l4SYN92TVySpmQg7i
EnCghI8G0Xu0s81yew==
-----END CERTIFICATE-----

-----BEGIN CERTIFICATE-----
MIIDITCCAgmgAwIBAgIJAIMOA3Bjb+0vMA0GCSqGSIb3DQEBCwUAMCcxJTAjBgNV
BAMMHE5YUCBFZGdlc2NhbGUgQ0EgLSBCb290c3RyYXAwHhcNMTcxMjE1MTMxODE3
WhcNMjcxMjEzMTMxODE3WjAnMSUwIwYDVQQDDBxOWFAgRWRnZXNjYWxlIENBIC0g
Qm9vdHN0cmFwMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA8lq6WsOW
bNTBoCHDBeR3YTpWLVmfuvMJ7WdktZDIMdLExyZMhXwC1J6Z/ffzNcyemDvgOGDI
2zsPbkPRg8b1qqyfcZE8M3czGlGIyAJT/YLceCaAU2pihA/v8kem2aYy+sWfdmRH
U8HUv2sF/1Zm3emyia+utzy+tHc9dlW9bPI4inbcyz5GV+Hr+aR1GV0fqlTQPd/p
J+iSK+hxLWOJ/FfRsZN2SThK1NuE1ivZdjyeoZxpzg+dgIslyY0NKnWKHALyW8Pk
yb3RjFY03yrMLxFVJ6Ac8sIoxzwugi4C5KhBMrHaqw5oT7cAmWxXrkjEYK+yo50s
7TCbSq0Wt9/gxQIDAQABo1AwTjAdBgNVHQ4EFgQUz0SH7sr91XXPbh7rDwpgt9sL
fy4wHwYDVR0jBBgwFoAUz0SH7sr91XXPbh7rDwpgt9sLfy4wDAYDVR0TBAUwAwEB
/zANBgkqhkiG9w0BAQsFAAOCAQEAquTAsXUty/vaNKcbpfE5plsGiRZEFAVEoW/K
mayQxdgEgMc7g3oWWE7Hm91vEPGdEzaT3pEtzqEuN7nOJvLnvTZ7YjKAyOAahj34
6+S8Quw2abH3qcJgXR09X3cU2U4hDsKqhqrUSTE0K0FaSQODWwqFScoJwu9ynHst
DOPpnfinLpRFIrKFtQlfM/5APvzeRuSX0fYbMAQI0Gv3G0gurkZ0K1g72OkPoJKy
2I3xGPFe/ccoKE3HpkMDQCv1aDCwsedv2W6khT7I25dlsM8aW8fn0YAOgsBw6K/B
yjMznJEQIWiytotoLibrg5okdqlAmunEmOa/JEF+ITUjFpm1wg==
-----END CERTIFICATE-----

-----BEGIN CERTIFICATE-----
MIIDJTCCAg2gAwIBAgIJAM+3Yts0Ss1yMA0GCSqGSIb3DQEBCwUAMCkxJzAlBgNV
BAMMHk5YUCBTZW1pY29uZHVjdG9ycyBDQSAtIFNIQTI1NjAeFw0xNzA5MDcyMjMw
MDlaFw0yNzA5MDUyMjMwMDlaMCkxJzAlBgNVBAMMHk5YUCBTZW1pY29uZHVjdG9y
cyBDQSAtIFNIQTI1NjCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMqm
sGO2SK4N3wCMfElI/xs0XSREaP3gImWNdDZhhOavybdUYgVX3ARLYaLhSuC5RGha
G2kl0Bi93B96X9fjlosjevF1IofDAzXvuIW1hMTwW9ioQVI5kE3tXnTksj8IfLQr
ehnrZV7h/DKX+MWyhP/jwVuOT/Wm9zfhtMymtJCkYrBKXYufnLyymPIY+PAX0Yt+
7Dx7RuRKrtBWuflSaA3tkefa49zT8VDYaA8wOEduqNIqyZiFm0zkDirfo742t/ls
/yzS/A9WDaMngKfIqE9SjmRvRMRk+AAdedQ0vUhwSJEj07VF1SzyY8Tj0Gp+Cp9U
krgAFrBlDLN11xbvytkCAwEAAaNQME4wHQYDVR0OBBYEFM7m5pDG7n5om0AcS5Nd
QgHjvxLqMB8GA1UdIwQYMBaAFM7m5pDG7n5om0AcS5NdQgHjvxLqMAwGA1UdEwQF
MAMBAf8wDQYJKoZIhvcNAQELBQADggEBAMQmPpxF9d5mfsZx4Z/ww1FYs82aD1jp
Gz509kvrfIB3oOhhK1OmNMe9FbZEZ0HRNVyztSN1aIeGFlJ2MfxqBnChwIzW2yJz
wbwvUHMME/b94KHUFr3ImOz+xnRR6W5PwTPBzeb9yXnI6y+Fw0eHC2R6vc2ALAmn
G2zKwUClyjsW/Qi8WKUhg8NqlkPWZVGIPdoOcxczXYkKgQlRAmwvV/xT6WM5jv5b
jvlFT46OFIKCiGUix/IdRwbMf1ZqMgTCugRRPxnRugpT3hCVwf2Hte5DR3zHC3Q5
xXv7pp5A4m5fEGqNe7O6foa+FlWrQtu17FEy3q2eGe+d53ab9IWDKlo=
-----END CERTIFICATE-----


