-----BEGIN CERTIFICATE-----
MIIDCTCCAfGgAwIBAgIJALPMA30cAFhtMA0GCSqGSIb3DQEBCwUAMBsxGTAXBgNV
BAMMEE5YUCBFZGdlU2NhbGUgQ0EwHhcNMTcxMjA3MDkwNjEwWhcNMjcxMjA1MDkw
NjEwWjAbMRkwFwYDVQQDDBBOWFAgRWRnZVNjYWxlIENBMIIBIjANBgkqhkiG9w0B
AQEFAAOCAQ8AMIIBCgKCAQEAxdf81Q3TWcPMuAZ6RrYk8vUDcPlyxRv31mxQCroL
+BJXsjXYdbie3kQuLdFEm36bKmwQOA/qoYwH+avo78aoi6bAfEtzTpO0o5ckilNk
Wan1C1uIsV0TKy7GHC/Bai4Pf/AHzPMT03IA1gvVNPXNoXzZ6d8RZ09WjDMnQyg6
C7Oz/gU2XiX+jVKWiCPmdzB6StudPfWvEFCIFZLBMiL8uFMir895a/z/IvrbwQfY
yuln/Ek6vMdxdDSXwJPSfytbeXovBicqnCmNQx+8rkXfOMm3gGTSMlsxUsEgNHHj
Kv2bbaOw2gBoPNm16B1SjsHCCPSgxBmzNU9/Ni+PHZqfGQIDAQABo1AwTjAdBgNV
HQ4EFgQUhmpRfF+byrdKOea6YkXcLFLjzcswHwYDVR0jBBgwFoAUhmpRfF+byrdK
Oea6YkXcLFLjzcswDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAQEAHWIn
+9nOLXYeW9lEmHkNkAatPlidz4/lhaFc2zhM1AYp8UZVxe2bOOgIAJMrBnpgp2NG
7wJUBfN2ZasLFkqv+u2iFwj8ulbe0QIdduDfQAbBurxakArMeNnQA15M3wtaU3Z9
RXk/wQPPd73yAYWbYvcfCAl+bLGKXdRm5F1Tbv/Brq1VbHuCNGG2POo7+rK5i4QY
y+57QrSeMHNiJ1O2ZQarrBl4ic+2FbuYEsC0UJAupIZPb6+XhmvLeb/RBhX9pr5E
AspHXGj6WL0VWjokq/Qr0EMP9PKJ9ylOfmISLC1Bs4QcYk6l4SYN92TVySpmQg7i
EnCghI8G0Xu0s81yew==
-----END CERTIFICATE-----

