-----BEGIN CERTIFICATE-----
MIIC/DCCAeQCCQCK4ep5GseVHDANBgkqhkiG9w0BAQsFADAbMRkwFwYDVQQDDBBO
WFAgRWRnZVNjYWxlIENBMB4XDTE4MDgyMjE2NTUyMloXDTI4MDgxOTE2NTUyMlow
ZTELMAkGA1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoMGElu
dGVybmV0IFdpZGdpdHMgUHR5IEx0ZDEeMBwGA1UEAwwVaW50Lm1zZy5lZGdlc2Nh
bGUub3JnMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvCIrAgXuVJU2
KvEMlJ+tpUzEDmEyZxC6OAZoTbGE1A4Uit5yln2R1INLYBbm7/kxnRn5ul0zMP1F
DyV8vB1M6u48BrkvfwSy5lPCet4PQEI++ucRiILt1IYEPw9UYFYiF/Ms3YnvfmIQ
bXzZ70gVDYZnnYk7L6p+mxU4jte3aroe0SatYOI6G6ZyBQtjvVwNMpQfPKh+dquW
ZrncsGYTzZ8s/sxwlU8k+i9e8SjcZzhur8TzYAUR59CFGEy7OmL4X0RR1cPnKRGe
ba/uL7Z9rO7DTIwlxDkVPgcUuCpgSCDxMYm7qSpCFfpoGqdZ616YiFccqbgHRyOq
mLVOF2yR0QIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQCfeCnSHrxT7DQMmyy1IpSi
aiJScnUGIDObCthZ5KQT17MPuDkGM6Oeo4RB/jWKmJ//EduJGljWT8cIxrdgMg6j
xByj8Fk90gmondeoSf8LY13gDhrfiu7Vnj37w96PAZXL3Bb0FOeZLofD7PrW9k2N
kKuFLEZ+tcFfQ6RXM9P6GSKPh6F/MT7EVwUl7z7yYi2+dxY1lz5fZMiFODaG7pdb
x0ClaaJBEwSwgGT7aC+nTOui/CmUnSGU+KNh1RbvkmH7iiyrs6xuADRxl6+AFGmp
rYQ+0mQCLtpal+GTnPRJc4EZb24sAPx4oMtydhYpfXjGJvOXDVyxV/718klQfC77
-----END CERTIFICATE-----

