$TTL    86400
@       IN    SOA   ns.{{ domain_name }}. root.{{ domain_name }}. (
              2007041501      ;Serial
              3600            ;Refresh
              1800            ;Retry
              604800          ;Expire
              86400)          ;Minimum TTL

              IN        NS    ns.{{ domain_name }}.
              IN        MX 10 mail.{{ domain_name }}.

ns            IN        A     {{ master_ip }}

int.app             IN      A	{{ master_ip }} 
int.proxy           IN      A	{{ master_ip }} 
int.b-est           IN      A	{{ master_ip }} 
int.e-est           IN      A	{{ master_ip }} 
s3                  IN      A   {{ master_ip }} 
api                 IN      A	{{ master_ip }} 
int.msg             IN      A	{{ master_ip }} 
image               IN      A	{{ master_ip }} 
console             IN      A	{{ master_ip }} 
docker              IN      A   {{ master_ip }}




