-----BEGIN CERTIFICATE-----
MIICgjCCAeugAwIBAgIUVWsdH34NmfoHVHgwpshKpdyQbFkwDQYJKoZIhvcNAQEL
BQAwUzELMAkGA1UEBhMCQ04xCzAJBgNVBAgMAkJKMQswCQYDVQQHDAJCSjELMAkG
A1UECgwCQkoxCzAJBgNVBAsMAkJKMRAwDgYDVQQDDAdkZW1vdG1wMB4XDTE5MTEw
MTA0MTE0OVoXDTI5MTAyOTA0MTE0OVowUzELMAkGA1UEBhMCQ04xCzAJBgNVBAgM
AkJKMQswCQYDVQQHDAJCSjELMAkGA1UECgwCQkoxCzAJBgNVBAsMAkJKMRAwDgYD
VQQDDAdkZW1vdG1wMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDnAD//QYvL
n1uXGDudJwJf3aFnSB4b1pWTjhKFNGNSz41zPmqPklfxYQqsGS338S6Z/PUCFLHp
KsnhmfWrDXmh1l4Gr7KGY29yQCnhgt/HXpqwRE7c/ZrVc9nW6QX3cAq9SNcM5D7q
IjcrCjaNuW99UlhQTUKw1NRCsdMGi60pTwIDAQABo1MwUTAdBgNVHQ4EFgQUsV77
bUAewrXRx/lRnQbKsdYd2igwHwYDVR0jBBgwFoAUsV77bUAewrXRx/lRnQbKsdYd
2igwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOBgQAUj3MnQBM0F5Yk
4smZQGkIgYg4wvpZXTApn17T2oK1R+//SES2h6K3f7LdLHsKtaKuQLxcu0pKQ+zx
f11l49AhATR6V7vHCzq44/DIyHCuMx+Mq2qfckER4LUC1DmwBlDMj8jnIelvo7a2
/2ap0HOFKMnusMLaRfV0Xoup0/grwA==
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIICfDCCAeWgAwIBAgIUZqErePpKq53QU7Gua0rOn2Y4tG4wDQYJKoZIhvcNAQEL
BQAwUDELMAkGA1UEBhMCQ04xCzAJBgNVBAgMAkJKMQswCQYDVQQHDAJCSjELMAkG
A1UECgwCQkoxCzAJBgNVBAsMAkJKMQ0wCwYDVQQDDARkZW1vMB4XDTE5MTEwMTAz
MzI1OVoXDTI5MTAyOTAzMzI1OVowUDELMAkGA1UEBhMCQ04xCzAJBgNVBAgMAkJK
MQswCQYDVQQHDAJCSjELMAkGA1UECgwCQkoxCzAJBgNVBAsMAkJKMQ0wCwYDVQQD
DARkZW1vMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDjpmEWfZSA0TC6TKZh
rJaRxCHaE9lUNUlDg4e7lG4d+n3UOLM+gibtvwUvWLR/XlWm8J7s0HYzd+iT+sPU
h2EKoQyLD5G73n3d5sh6ie4+rQAOgi0m16THo+aq8WNXduEM4BcREjZH6kCQago4
/S+DV/AaRkLRqWZub7MxM+3R9QIDAQABo1MwUTAdBgNVHQ4EFgQUDo0h3jto23FX
/DOwmHjcaD1jApcwHwYDVR0jBBgwFoAUDo0h3jto23FX/DOwmHjcaD1jApcwDwYD
VR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOBgQBoWDkCHhaF+fzb9RAPznBI
MqC8DPMXU0DBdnEjd4XD/zTn4iyUR5E7qDwpyWo5Zl2SD/gIP/r10E4gKQRu2vTj
bvjTojCGL20MwfaYXWDcCYlqz38efnxtfWVgsLPBCG0O5liPg7D2ncNd2Y35ewam
SLpXV/7zbnLARJT2Enjczg==
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIICNjCCAZ8CFGZyTlyXbpGBitIuGCRA4R3y+t2/MA0GCSqGSIb3DQEBCwUAMFAx
CzAJBgNVBAYTAkNOMQswCQYDVQQIDAJCSjELMAkGA1UEBwwCQkoxCzAJBgNVBAoM
AkJKMQswCQYDVQQLDAJCSjENMAsGA1UEAwwEZGVtbzAeFw0xOTExMDEwNzA5MTda
Fw0yOTEwMjkwNzA5MTdaMGQxCzAJBgNVBAYTAkNOMQswCQYDVQQIDAJCSjELMAkG
A1UEBwwCQkoxCzAJBgNVBAoMAkJKMQswCQYDVQQLDAJCSjEhMB8GA1UEAwwYaW50
LmUtZXN0LmVkZ2VzY2FsZS5kZW1vMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKB
gQDjpmEWfZSA0TC6TKZhrJaRxCHaE9lUNUlDg4e7lG4d+n3UOLM+gibtvwUvWLR/
XlWm8J7s0HYzd+iT+sPUh2EKoQyLD5G73n3d5sh6ie4+rQAOgi0m16THo+aq8WNX
duEM4BcREjZH6kCQago4/S+DV/AaRkLRqWZub7MxM+3R9QIDAQABMA0GCSqGSIb3
DQEBCwUAA4GBAE2lQrB237KGCu6I5QnwWxolDg+XpIWqbNVSoScV+hQheWqj3lHp
xTArdipRqrf4f6uio6kec+WeREttDb+oEDmQ4SMjswSwdfF+c7Onc058rHdIF3+a
uqUq6yQkCkmfrxNKZhd7tYQK4hq5LfnH1aLQBr5Xk/WE3Zcemb4J9Bla
-----END CERTIFICATE-----

