-----BEGIN CERTIFICATE-----
MIICNjCCAZ8CFGZyTlyXbpGBitIuGCRA4R3y+t2/MA0GCSqGSIb3DQEBCwUAMFAx
CzAJBgNVBAYTAkNOMQswCQYDVQQIDAJCSjELMAkGA1UEBwwCQkoxCzAJBgNVBAoM
AkJKMQswCQYDVQQLDAJCSjENMAsGA1UEAwwEZGVtbzAeFw0xOTExMDEwNzA5MTda
Fw0yOTEwMjkwNzA5MTdaMGQxCzAJBgNVBAYTAkNOMQswCQYDVQQIDAJCSjELMAkG
A1UEBwwCQkoxCzAJBgNVBAoMAkJKMQswCQYDVQQLDAJCSjEhMB8GA1UEAwwYaW50
LmUtZXN0LmVkZ2VzY2FsZS5kZW1vMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKB
gQDjpmEWfZSA0TC6TKZhrJaRxCHaE9lUNUlDg4e7lG4d+n3UOLM+gibtvwUvWLR/
XlWm8J7s0HYzd+iT+sPUh2EKoQyLD5G73n3d5sh6ie4+rQAOgi0m16THo+aq8WNX
duEM4BcREjZH6kCQago4/S+DV/AaRkLRqWZub7MxM+3R9QIDAQABMA0GCSqGSIb3
DQEBCwUAA4GBAE2lQrB237KGCu6I5QnwWxolDg+XpIWqbNVSoScV+hQheWqj3lHp
xTArdipRqrf4f6uio6kec+WeREttDb+oEDmQ4SMjswSwdfF+c7Onc058rHdIF3+a
uqUq6yQkCkmfrxNKZhd7tYQK4hq5LfnH1aLQBr5Xk/WE3Zcemb4J9Bla
-----END CERTIFICATE-----

