-----BEGIN CERTIFICATE-----
MIICNDCCAZ0CFGZyTlyXbpGBitIuGCRA4R3y+t3BMA0GCSqGSIb3DQEBCwUAMFAx
CzAJBgNVBAYTAkNOMQswCQYDVQQIDAJCSjELMAkGA1UEBwwCQkoxCzAJBgNVBAoM
AkJKMQswCQYDVQQLDAJCSjENMAsGA1UEAwwEZGVtbzAeFw0xOTExMTEwNDA3NDZa
Fw0yOTExMDgwNDA3NDZaMGIxCzAJBgNVBAYTAkJKMQswCQYDVQQIDAJCSjELMAkG
A1UEBwwCQkoxCzAJBgNVBAoMAkJKMQswCQYDVQQLDAJCSjEfMB0GA1UEAwwWaW50
Lm1zZy5lZGdlc2NhbGUuZGVtbzCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA
46ZhFn2UgNEwukymYayWkcQh2hPZVDVJQ4OHu5RuHfp91DizPoIm7b8FL1i0f15V
pvCe7NB2M3fok/rD1IdhCqEMiw+Ru9593ebIeonuPq0ADoItJtekx6PmqvFjV3bh
DOAXERI2R+pAkGoKOP0vg1fwGkZC0almbm+zMTPt0fUCAwEAATANBgkqhkiG9w0B
AQsFAAOBgQAqyrb9hxnQsagr8q/DK2DhWXhfJDGXdO6qK2iRPwHAT7KpSlHJCUMZ
mlwdlYnjNzC0MSytLZytmX2izZ8p9fjkSGBBVZ62TgwUWpIWGcbXKNMXnQWwFL7l
sjJTZU7epmU/A8pMtGGatxieZczq6G6u9HmJ+f9zDVA4gzMXb++Nrw==
-----END CERTIFICATE-----
