-----BEGIN CERTIFICATE-----
MIICMzCCAZwCFGZyTlyXbpGBitIuGCRA4R3y+t3AMA0GCSqGSIb3DQEBCwUAMFAx
CzAJBgNVBAYTAkNOMQswCQYDVQQIDAJCSjELMAkGA1UEBwwCQkoxCzAJBgNVBAoM
AkJKMQswCQYDVQQLDAJCSjENMAsGA1UEAwwEZGVtbzAeFw0xOTExMDEwNzI4MDZa
Fw0yOTEwMjkwNzI4MDZaMGExCzAJBgNVBAYTAkNOMQswCQYDVQQIDAJCSjELMAkG
A1UEBwwCQkoxCzAJBgNVBAoMAkJKMQswCQYDVQQLDAJCSjEeMBwGA1UEAwwVaW50
Lm1zZy5lZGdlc2NhbGUub3JnMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDj
pmEWfZSA0TC6TKZhrJaRxCHaE9lUNUlDg4e7lG4d+n3UOLM+gibtvwUvWLR/XlWm
8J7s0HYzd+iT+sPUh2EKoQyLD5G73n3d5sh6ie4+rQAOgi0m16THo+aq8WNXduEM
4BcREjZH6kCQago4/S+DV/AaRkLRqWZub7MxM+3R9QIDAQABMA0GCSqGSIb3DQEB
CwUAA4GBAAkLbfJGWdBx0q5JkNsppIY7Y8OeR8bO4N4LKXENjSAUniaRkozWFM7/
7KzLXUAqKnVSkbH9UVty1luAk3E9mOkEGvaCCG05fqy87X3FmuHmx3IxWosK5+3U
GxJLz9d3O2VQaRYUAJUfbFUTJ5ylPmXH34S60+BmsNl0mZ9HVBlc
-----END CERTIFICATE-----

