-----BEGIN CERTIFICATE-----
MIICgjCCAeugAwIBAgIUVWsdH34NmfoHVHgwpshKpdyQbFkwDQYJKoZIhvcNAQEL
BQAwUzELMAkGA1UEBhMCQ04xCzAJBgNVBAgMAkJKMQswCQYDVQQHDAJCSjELMAkG
A1UECgwCQkoxCzAJBgNVBAsMAkJKMRAwDgYDVQQDDAdkZW1vdG1wMB4XDTE5MTEw
MTA0MTE0OVoXDTI5MTAyOTA0MTE0OVowUzELMAkGA1UEBhMCQ04xCzAJBgNVBAgM
AkJKMQswCQYDVQQHDAJCSjELMAkGA1UECgwCQkoxCzAJBgNVBAsMAkJKMRAwDgYD
VQQDDAdkZW1vdG1wMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDnAD//QYvL
n1uXGDudJwJf3aFnSB4b1pWTjhKFNGNSz41zPmqPklfxYQqsGS338S6Z/PUCFLHp
KsnhmfWrDXmh1l4Gr7KGY29yQCnhgt/HXpqwRE7c/ZrVc9nW6QX3cAq9SNcM5D7q
IjcrCjaNuW99UlhQTUKw1NRCsdMGi60pTwIDAQABo1MwUTAdBgNVHQ4EFgQUsV77
bUAewrXRx/lRnQbKsdYd2igwHwYDVR0jBBgwFoAUsV77bUAewrXRx/lRnQbKsdYd
2igwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOBgQAUj3MnQBM0F5Yk
4smZQGkIgYg4wvpZXTApn17T2oK1R+//SES2h6K3f7LdLHsKtaKuQLxcu0pKQ+zx
f11l49AhATR6V7vHCzq44/DIyHCuMx+Mq2qfckER4LUC1DmwBlDMj8jnIelvo7a2
/2ap0HOFKMnusMLaRfV0Xoup0/grwA==
-----END CERTIFICATE-----

