-----BEGIN CERTIFICATE-----
MIICNjCCAZ8CFGZyTlyXbpGBitIuGCRA4R3y+t2+MA0GCSqGSIb3DQEBCwUAMFAx
CzAJBgNVBAYTAkNOMQswCQYDVQQIDAJCSjELMAkGA1UEBwwCQkoxCzAJBgNVBAoM
AkJKMQswCQYDVQQLDAJCSjENMAsGA1UEAwwEZGVtbzAeFw0xOTExMDEwNzA4MjVa
Fw0yOTEwMjkwNzA4MjVaMGQxCzAJBgNVBAYTAkNOMQswCQYDVQQIDAJCSjELMAkG
A1UEBwwCQkoxCzAJBgNVBAoMAkJKMQswCQYDVQQLDAJCSjEhMB8GA1UEAwwYaW50
LmItZXN0LmVkZ2VzY2FsZS5kZW1vMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKB
gQDjpmEWfZSA0TC6TKZhrJaRxCHaE9lUNUlDg4e7lG4d+n3UOLM+gibtvwUvWLR/
XlWm8J7s0HYzd+iT+sPUh2EKoQyLD5G73n3d5sh6ie4+rQAOgi0m16THo+aq8WNX
duEM4BcREjZH6kCQago4/S+DV/AaRkLRqWZub7MxM+3R9QIDAQABMA0GCSqGSIb3
DQEBCwUAA4GBAFlqdMCGCD3dwfrob9DnIy3NSPgI+Il0MgpTsmgojJtcZkpLeoQ1
yRsiyCDhBZbeaU8/WBkrzY0UEGT7JATdyo6IKgqP7ISeJihtkL6tlg+Q7DkX0T4D
dnzN147b2fNjyflM3Tr/F73NF0c2KXVrJ78iFiB5HIk4ZGCUH7Gks2Bg
-----END CERTIFICATE-----

