-----BEGIN CERTIFICATE-----
MIICNjCCAZ8CFGZyTlyXbpGBitIuGCRA4R3y+t2+MA0GCSqGSIb3DQEBCwUAMFAx
CzAJBgNVBAYTAkNOMQswCQYDVQQIDAJCSjELMAkGA1UEBwwCQkoxCzAJBgNVBAoM
AkJKMQswCQYDVQQLDAJCSjENMAsGA1UEAwwEZGVtbzAeFw0xOTExMDEwNzA4MjVa
Fw0yOTEwMjkwNzA4MjVaMGQxCzAJBgNVBAYTAkNOMQswCQYDVQQIDAJCSjELMAkG
A1UEBwwCQkoxCzAJBgNVBAoMAkJKMQswCQYDVQQLDAJCSjEhMB8GA1UEAwwYaW50
LmItZXN0LmVkZ2VzY2FsZS5kZW1vMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKB
gQDjpmEWfZSA0TC6TKZhrJaRxCHaE9lUNUlDg4e7lG4d+n3UOLM+gibtvwUvWLR/
XlWm8J7s0HYzd+iT+sPUh2EKoQyLD5G73n3d5sh6ie4+rQAOgi0m16THo+aq8WNX
duEM4BcREjZH6kCQago4/S+DV/AaRkLRqWZub7MxM+3R9QIDAQABMA0GCSqGSIb3
DQEBCwUAA4GBAFlqdMCGCD3dwfrob9DnIy3NSPgI+Il0MgpTsmgojJtcZkpLeoQ1
yRsiyCDhBZbeaU8/WBkrzY0UEGT7JATdyo6IKgqP7ISeJihtkL6tlg+Q7DkX0T4D
dnzN147b2fNjyflM3Tr/F73NF0c2KXVrJ78iFiB5HIk4ZGCUH7Gks2Bg
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIICfDCCAeWgAwIBAgIUZqErePpKq53QU7Gua0rOn2Y4tG4wDQYJKoZIhvcNAQEL
BQAwUDELMAkGA1UEBhMCQ04xCzAJBgNVBAgMAkJKMQswCQYDVQQHDAJCSjELMAkG
A1UECgwCQkoxCzAJBgNVBAsMAkJKMQ0wCwYDVQQDDARkZW1vMB4XDTE5MTEwMTAz
MzI1OVoXDTI5MTAyOTAzMzI1OVowUDELMAkGA1UEBhMCQ04xCzAJBgNVBAgMAkJK
MQswCQYDVQQHDAJCSjELMAkGA1UECgwCQkoxCzAJBgNVBAsMAkJKMQ0wCwYDVQQD
DARkZW1vMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDjpmEWfZSA0TC6TKZh
rJaRxCHaE9lUNUlDg4e7lG4d+n3UOLM+gibtvwUvWLR/XlWm8J7s0HYzd+iT+sPU
h2EKoQyLD5G73n3d5sh6ie4+rQAOgi0m16THo+aq8WNXduEM4BcREjZH6kCQago4
/S+DV/AaRkLRqWZub7MxM+3R9QIDAQABo1MwUTAdBgNVHQ4EFgQUDo0h3jto23FX
/DOwmHjcaD1jApcwHwYDVR0jBBgwFoAUDo0h3jto23FX/DOwmHjcaD1jApcwDwYD
VR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOBgQBoWDkCHhaF+fzb9RAPznBI
MqC8DPMXU0DBdnEjd4XD/zTn4iyUR5E7qDwpyWo5Zl2SD/gIP/r10E4gKQRu2vTj
bvjTojCGL20MwfaYXWDcCYlqz38efnxtfWVgsLPBCG0O5liPg7D2ncNd2Y35ewam
SLpXV/7zbnLARJT2Enjczg==
-----END CERTIFICATE-----

