api: https://kong-external.openfaas-util:8443/v1
estapi: https://e-est-external.openfaas-util:10443/v1
esdb:
        dbHost: postgres-external.openfaas-util
        dbUser: root
        dbPass: edgescale
        dbName: edgescale
mft:
        dbHost: postgres-external.openfaas-util
        dbUser: root
        dbPass: edgescale
        dbName: edgescale_mft
        esToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjQ3MjI1NzI1OTIsInVpZCI6NCwidXNlcm5hbWUiOiJvZW1fdGVzdCIsImFkbWluIjowLCJhY2NvdW50X3R5cGVfaWQiOjJ9.3npoWX1mC8IdvZUML_gxGPAQ-3MVSS7bTArhJLEHlds

